.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-one {
    display: flex;
}

.container-operators {
    margin-bottom: 10px;
}

.checkbox {
    border-radius: 50%;
}

.dspl-none {
    display: none;
}